RESTART/
.datasets/
datasets/
*.nc.0*

*20040101.ice_daily.nc
*20040101.ocean_cobalt_btm.nc
*20040101.ocean_cobalt_fdet_100.nc
*20040101.ocean_cobalt_fluxes_int.nc
*20040101.ocean_cobalt_sfc.nc
*20040101.ocean_cobalt_tracers_int.nc
*20040101.ocean_daily.nc
*20040101.ocean_scalar_day.nc
*MOM_parameter_doc.all
*MOM_parameter_doc.debugging
*MOM_parameter_doc.layout
*MOM_parameter_doc.short
*SIS.available_diags
*SIS_fast.available_diags
*SIS_parameter_doc.all
*SIS_parameter_doc.debugging
*SIS_parameter_doc.layout
*SIS_parameter_doc.short
*Vertical_coordinate.nc
*available_diags.000000
*logfile.000000.out
*ocean.stats
*ocean.stats.nc
*sea_ice_geometry.nc
*seaice.stats
*stocks.out
*time_stamp.out

.vscode/
builds/build